/* CSS di base per il tema light e dark */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    background-color: #f0f0f0;
    color: #000;
}

body.dark {
    background-color: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .theme-switcher {
    display: flex;
    align-items: center;
}

header .theme-switcher label {
    margin-left: 10px;
}

#contentContainer {
    padding: 20px;
    text-align: center;
}

iframe {
    border: none;
    width: 100%;
    height: 600px;
}
